@-moz-document	domain(pilot.fedex.com) {
form[name=main] td:not(.fixedfont td) {
 font-family: Menlo-Regular !important; 
 letter-spacing: -0.5pt !important;
 white-space: nowrap !important;
}

.fixedfont {
	font-family: Menlo-Regular !important;
/*	white-space: nowrap !important;
*/
	letter-spacing: -0.5pt !important;
	}
	
div, p, h1, h2, h3, h4, .top-bar, .content, .smallpurpleheader, .smallgreenheader, .pagesubheader, .pagesubheader2, .subheader, .warning, .alert, .chan, .top-bar-section {
	font-family: -apple-system, "Helvetica Neue" !important;
	}
}
